* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background: #e5e5e5;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  text-decoration: none;
  color: #666666;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h2 {
  margin-top: 70px;
  margin-left: 70px;
}

.header-top {
  display: flex;
  width: 1170px;
  /* border: olive 2px solid; */
  padding: 20px 0;
  align-items: center;
}

.cabinet a {
  /* border: teal 3px solid;   */
  color: #f0bf5f;
  margin-left: 600px;

  /* хуита */
}

.logo {
  display: flex;
  /* border: tomato 2px solid; */
}

.phone {
  /* border: rgb(29, 53, 160) 3px solid; */
  margin-left: 35px;
  margin-top: 15px;
}

.nav-list {
  display: flex;
  /* border: solid black 2px; */
  padding: 20px;
  align-items: center;
  background-color: black;
  height: 70px;
  width: 1170px;
  left: 375px;
  top: 114px;
  border-radius: 15px;
  margin: 30px 0px;
}

.nav-item {
  margin-right: 45px;
  font-size: 16px; 
}


.buttn {
  border: 1px #cc9933 solid;
  border-radius: 10px;
  padding: 15px;
  color: #f0bf5f;
  line-height: 1;
  display: inline-block;
}

.div15 {
  /* display: flex; */
  /* border: springgreen 2px solid; */
  /* margin-left: 200px; */
  /* padding-left: 150px; */
}

.discount {
  /* border: solid 2px; */
  display: flex;
  width: 1170px;
  
}

.discount-left {
  /* border: springgreen 2px solid; */
  display: flex;
  flex-direction: column;
}

.discount-left-up {
  background-image: url(../IMG/Rectangle\ 14.jpg);
  width: 573px;
  height: 258px;
  /* border: steelblue 2px solid; */
  color: white;
  font-size: 40px;
  padding: 40px 234px 138px 40px;
  margin: 0px 23px 23px 0px;
  border-radius: 15px;
}

.discount-left-down {
  width: 573px;
  height: 258px;
  color: white;
  font-size: 40px;
  padding: 40px 234px 138px 40px;
background-image: url(/IMG/Rectangle\ 15.jpg); 
 border-radius: 15px;
  /* это че за ебанина паскудная хули красная */
}

.discount-right {
  /* border: tomato 2px solid; */
  background-image: url(../IMG/33\ 1.jpg);
  height: 540px;
  width: 573px;
  border-radius: 15px;
  color: white;
  font-size: 60px;
  padding: 211px 234px 149px 40px;
}

.price {
  font-size: 20px;
  color: white;
}

.more {
  font-size: 16px;
  color: #f0bf5f;
}

.about-txt {
  width: 888px;
  /* border: yellow 3px solid; */
}

.services {
  width: 1180px;
  display: flex;
  /* border: rgb(255, 0, 43) 2px solid; */
  flex-wrap: wrap;
}


.services {
  background-color: #e5e5e5;
  justify-content: space-around;

}

.service img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width="573px" height="165px"

}

.service p {
    margin: 10px;

}

.service {
    /* border: solid 2px; */
    width: 536px;
    /* padding: 23px; */
    margin: 23px;
  background-color: rgb(0, 0, 0) ;
  border-radius: 15px;
    
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  /* border: violet 2px solid; */
  width: 1000%;
}

.benefits-list {
    display: flex;

}

.benefits-item {
    border: olive 1px solid;
    padding: 20px;
    padding-top: 50px;
    margin: 10px;
    background-color: white;
    width: 275px;
    height: auto;
    border-radius: 15px;
    text-align: left;
    vertical-align: middle;
}

