* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background: #e5e5e5;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  text-decoration: none;
  color: #666666;
}


.nav-list > .nav-item:hover {
  border-radius: 15px;
  transform: scale(1.5, 1.5);
  box-shadow: 1px -5px 8px 4px rgba(191, 93, 188, 1);
  background: rgba(191, 93, 188, 1);
  
}
  

.nav-item {
  margin-right: 45px;
  font-size: 16px;
  transition: 1s;
  white-space: nowrap;
  text-align: center;
  
  
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h2 {
  margin-top: 70px;
  margin-left: 70px;
}

.header-top {
  display: flex;
  width: 1170px;
  padding: 20px 0;
  align-items: center;
}

.cabinet a {
 
  color: #f0bf5f;
  margin-left: 600px;

  
}

.logo {
  display: flex;
  
}

.logoimg {
  transition: transform 1s;
}

.logoimg:hover {
  transform: rotate(360deg);
  
}

.phone {
  margin-left: 35px;
  margin-top: 15px;
}

.nav-list {
  left: 375px;
  padding: 20px;
  align-items: center;
  height: 70px;
  width: 1170px;
  top: 114px;
  border-radius: 15px;
  display: flex;
  margin: 30px 0px;
  background-color: black;
}


.buttn {
  border: 1px #cc9933 solid;
  border-radius: 10px;
  padding: 15px;
  color: #f0bf5f;
  line-height: 1;
  display: inline-block;
  transition: .5s;
}

.buttn:hover {
  background: #b88d39;
  transform: translateY(5px);
  box-shadow: 0px -5px 5px rgb(146, 140, 140);
  color: black;
}

.discount {
  display: flex;
  width: 1170px;
}

.discount-left {
  display: flex;
  flex-direction: column;
}

.discount-left-up {
  background-image: url(/Lagoon/Rectangle\ 14.jpg);
  width: 573px;
  height: 258px;
  color: white;
  font-size: 40px;
  padding: 40px 234px 138px 40px;
  margin: 0px 23px 23px 0px;
  border-radius: 15px;
}


.discount-left-down {
  width: 573px;
  height: 258px;
  color: white;
  font-size: 40px;
  padding: 40px 234px 138px 40px;
  background-image: url(/Lagoon/Rectangle\ 15.jpg);
  border-radius: 15px;
}

.discount-right {
  background-image: url(/Lagoon/33\ 1.jpg);
  height: 540px;
  width: 573px;
  border-radius: 15px;
  color: white;
  font-size: 60px;
  padding: 211px 234px 149px 40px;
}

.price {
  font-size: 20px;
  color: white;
}

.more {
  font-size: 16px;
  color: #f0bf5f;
  transition: 1s;
}

.more:hover {
  transform: translateX(30px);
}

.about-txt {
  width: 1170px;
}

.services {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  border-radius: 15px;
}

.service img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.service p {
  margin: 10px;
}

.service {
  width: 536px;
  margin: 23px 0;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  transition: 1s;
}

.service:hover {
  box-shadow: 0px 0 15px violet;
  transform: scale(1.2);
}


.top-nav {
  display: flex;
  justify-content: flex-end;
  width: 1000%;
}

.benefits-list {
  display: flex;
  width: 1170px;
}

.benefits-item {
  padding: 20px;
  padding-top: 50px;
  margin: 10px;
  background-color: white;
  width: 275px;
  height: auto;
  border-radius: 15px;
  text-align: left;
  vertical-align: middle;
}

.contacts {
  height: 618px;
  width: 1168px;
  left: 374px;
  top: 4600px;
  border-radius: 15px;
  margin-left: auto;
  background-color: black;
}

.contacts-img {
  height: 528px;
  width: 653px;
  margin: 50px;
  background-color: #e5e5e5;
}

.contacts {
  display: flex;
}

.contacts-grid {
  border-bottom: grey 1px solid;
  font-weight: bold;
  grid-auto-rows: 72px;
}

.contacts-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 528px;
  width: 375px;
  margin: 50px;
  color: #666666;
}

.contacts-grid-discription {
  border-bottom: grey 1px solid;
}

.contacts-font {
  color: #f0bf5f;
}

.contacts-grid-buttn {
  align-self: center;
  margin: 20px 0;
}

.take-tour {
  position: relative;
  height: 274px;
  width: 1170px;
  border: rgb(204, 198, 197) 1px solid;
  margin: 70px 0;
  background-color: rgb(56, 51, 56);
  border-radius: 15px;
}

.take-tour-form {
  position: absolute;
  display: flex;
  justify-content: space-around;
  height: 106px;
  width: 1080px;
  margin: 0 45px;
  background-color: rgb(172, 166, 147);
  border-radius: 15px;
}


.buttn-tour {
  margin-top: 30px;
  color: rgb(3, 3, 3);
}

.footer {
  position: relative;
  height: 341px;
  width: 1170px;
  margin-top: 20px;
  background-color: rgb(56, 51, 56);
  border-radius: 15px;
  margin-bottom: 20px;
}

.footer-ul {
  padding-top: 20px;
  width: 100px;
  
}

.footer-li {
  margin: 20px;
  padding: 0px;
  transition: 1s;
  border-radius: 15px;
}

.footer-li:hover {
  transform: translateX(30px);
  box-shadow: -50px 1px 8px -3px mediumslateblue;
    
}




.footer-img {
  position: relative;
  left: 420px;
  bottom: 172px;
}

.footer-about {
  position: absolute;
  height: 200px;
  width: 350px;
  left: 100px;
  bottom: 130px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
